<li>
    <div class="header-menu-text" menu-head="{{id}}">
        {{name}}
    </div>
    {{#if sub}}
    <ul class="header-sub-menu">
        {{#each subMenu}}
            <li menu-id="{{id}}"{{#if subId}} sub-id="{{subId}}"{{/if}}>{{name}}</li>
        {{/each}}
    </ul>
    {{/if}}
</li>